*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!/lib/FrozenCube.jar
!/tools/**/*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
/TowerWarsPP.iml

# ignore release files
/blackbox/
/build/
/documentation/
/jar/
/release/

# ignore yguardlog
yguardlog.xml
/lib/FrozenCube.zip

TowerWarsPP.iml
resource/

# ignore latextmp
*.log
*.aux
*.synctex.gz
*.out
*.pdf
